<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../CSS/CommonForAll.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/Dashboard.css" />

    <title>BOOKING ADMIN DASHBOARD</title>
  </head>

  <body>
    <div class="mainbluesurface" id="mainbluesurface">
      <div class="topnav">
        <img src="../IMAGES/sublogo2.png" alt="logo login" id="sublogo" />
        <div class="topnav-right">
          <a class="active" href="BookingAdminDashboard.html">Home</a>
          <a class="active" href="BookingAdminLogin.html">LogOut</a>
        </div>
      </div>
      <hr id="headerhr" />

      <div class="maintopics">
        <div class="subtopics" onclick="myFunction1()">
          Booking Details <br />
          <p class="numberof"></p>
        </div>
        <div class="subtopics" onclick="myFunction2()">
          Add New Booking <br />
          <p class="numberof"></p>
        </div>
      
          <p class="numberof"></p>
        </div>
        <div class="lowersubtopics reportcomp" onclick="myFunction3()">
          Report <img src="../IMAGES/go.png" alt="reportgo" id="reportgo" />
        </div>
      </div>
    </div>

    <script>
      function myFunction1() {
        location.replace("BookingDetails.html");
      }

      function myFunction2() {
        location.replace("AddNewBooking.html");
      
      }
      function myFunction3() {
        location.replace("BookingReports.html");
      }
    </script>
  </body>
</html>
