<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../CSS/CommonForAll.css">
    <link rel="stylesheet" type="text/css" href="../CSS/BookingDelete.css">

    <title> Delete Booking Details </title>
</head>

<body>

    <div class="mainbluesurface" id="mainbluesurface">
        <!-- Navigation bar -->
        <div class="topnav">
            <img src="../IMAGES/sublogo2.png" alt="logo login" id="sublogo">
            <div class="topnav-right">
                <!-- Dropdown in the navigation bar-->
                <div class="dropdown">
                    <button class="dropbtn">Booking 
                        <img src="../IMAGES/Dropdown.png" alt="dropdown" id="dropdownicon"> 
                    </button>
                    <div class="dropdown-content">
                      <a href="BookingDetails.html"> Booking Details </a>
                      <a href="AddNewBooking.html">  Add New Booking </a>
                      <a href="UserProfile.html"> User Profile </a>
                      <a href=" Booking Report"> Report </a>
                     
                    </div>
                </div>

                <a class="active" href="BookingAdminDashboard.html">Home</a>
                <a class="active" href="BookingAdminLogin.html">LogOut</a>
            </div>
        </div>
        <hr id="headerhr">

        <div class="contentblock"> 
            <p id="qtopic" > Do you want to delete this Booking ? </p>
            <!-- The button to confirm the delete -->
            <!-- Once the yes is clicked a confirmation msg will be poped up -->
            <button class="deleteconfirmbtn" onclick="deleteconfirmfunction()" type="submit"> YES </button>

            <!-- The button to cancle the delete -->
            <!-- Once the cancle btn is clicked it will navigation to the previous page -->
            <button class="deletecanclebtn" onclick="deletecanclefunction()">  NO </button>

            <!-- delete booking details -->
            <table class="deleteformtable" >  
                <form class="deletedbookingform" action="/action_page.php">
                    <tr>
                        <td><label for="id">Booking ID </label> </td> <!-- cannot update-->
                        <td> : </td>
                        <td> <input class="forminput" type="text" id="id" name="id" required ></td>
                    </tr>
                    <tr>
                        <td><label for="did">Driver ID </label> </td> <!-- cannot update-->
                        <td> : </td>
                        <td> <input class="forminput" type="text" id="did" name="did" required > </td>
                    </tr>
                    <tr>
                        <td> <label for="fname">First Name </label> </td> <!-- cannot update-->
                        <td> : </td>
                        <td> <input class="forminput" type="text" id="fname" name="fname" value="" required> </td>
                    </tr>
                    <tr>
                        <td> <label for="lname">Last Name </label> </td> <!-- cannot update-->
                        <td> : </td>
                        <td> <input class="forminput" type="text" id="lname" name="lname" value="" required> </td>
                    </tr>
                    
                    <tr>
                        <td> <label for="Vplate">Vehicle No. Plate </label></td> <!-- can update-->
                        <td> : </td>
                        <td> <input class="forminput" type="text" id="Vplate" name="Vplate" value="" required> </td>
                    </tr>
                    <tr>
                        <td>  <label for="phoneno"> Contact No. </label> </td><!-- can update-->
                        <td> : </td>
                        <td> <input class="forminput"  type="tel" id="phone" name="phone" placeholder="07X XXX XXXX" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" required > </td>
                    </tr>
                    <tr>
                        <td>  <label for="email"> E-mail </label> </td> <!-- can update-->
                        <td> : </td>
                        <td>  <input class="forminput" type="email" id="email" name="email" placeholder="example@gmail.com" required> </td>
                    </tr>
                     
                    <tr>
                        <td>  <label for="date"> Pickup Date </label> </td><!-- can update-->
                        <td> : </td>
                        <td> <input class="forminput" type="date" id="date" name="date"  value="" required> </td>
                    </tr>
                    <tr>
                        <td> <label for="time">Pickup Time </label></td><!-- can update-->
                        <td> : </td>
                        <td> <input class="forminput" type="time" id="time" name="time" value="" required> </td>
                    </tr>
                    <tr>
                        <td>  <label for="place"> Pickup Place </label> </td><!-- can update-->
                        <td> : </td>
                        <td> <input class="forminput"  type="text" id="place" name="place"  required > </td>
                    </tr>
                    <tr>
                        <td>  <label for="Dtime"> Drop-off Time </label> </td><!-- can update-->
                        <td> : </td>
                        <td>  <input class="forminput" type="time" id="Dtime" name="Dtime" required> </td>
                    </tr>
                </tr>
                <tr>
                    <td>  <label for="Dplace"> Drop-off Place </label> </td><!-- can update-->
                    <td> : </td>
                    <td>  <input class="forminput" type="text" id="Dplace" name="Dplace" required> </td>
                </tr>
                </form>
            </table>

            <br>
            
            <br><br>
        </div>  
    </div>

    <script>

        function deleteconfirmfunction() {
          location.replace("#")
        }
    
        function deletecanclefunction() {
          location.replace("BookingDetails.html")
        }

    </script>
</body>
</html>