<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../CSS/CommonForAll.css">
    <link rel="stylesheet" type="text/css" href="../CSS/Dashboard.css">

    <title>BOOKING REPORTS</title>
</head>

<body>

    <div class="mainbluesurface" id="mainbluesurface">
       
        <div class="topnav">
            <img src="../IMAGES/sublogo2.png" alt="logo login" id="sublogo">
            <div class="topnav-right">
                <a class="active" href="BookingAdminDashboard.html">Home</a>
                <a class="active" href="BookingAdminLogin.html">LogOut</a>
            </div>
        </div>
        <hr id="headerhr">

        <div class="maintopics">
            <div class="subtopics" onclick="myFunction1()"> From  <br> <p class="monthof"> January </p> </div>
            <div class="subtopics" onclick="myFunction2()">  To <br> <p class="monthof"> April </p> </div>
            <div class="subtopics" onclick="myFunction3()">  Year  <br> <p class="monthof"> 2021 </p> </div>
            <div class="subtopics" onclick="myFunction4()">  Status  <br> <p class="monthof"> Completed </p> </div>
            
           
                <img src="../IMAGES/go.png" alt="reportgo" id="reportgo"> </div>
            
        </div>
    </div>

   
    

</body>
</html>