<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../CSS/Login.css">
    <link rel="stylesheet" type="text/css" href="../CSS/CommonForAll.css">

    <title>BOOKINGS ADMIN LOGIN</title>
</head>

<body>

    <div class="mainbluesurface" id="mainbluesurface">
       
        <div class="row">
            <div class="column">
                <img src="../IMAGES/mainlogo.png" alt="logo login" id="mainlogo">
            </div>

            <div class="column">
                <form class="loginform" action="/action_page.php" method="post">
                    <div class="icon">
                        <a href="BookingAdminHome.html" class="backicon"><img src="../IMAGES/back arrow.png" alt="navigate back"></a> <!-- To navigate to the home page -->
                    </div>
           
                    <div class="headercontainer">
                        <h4> Booking Management <br> Login </h4>
                    </div>
                  
                    <div class="container">
                      <label for="uname"><b>Username</b></label><br>
                      <input type="text" placeholder="Enter Username" name="uname" required>
                      <br>
                      <label for="psw"><b>Password</b></label><br>
                      <input type="password" placeholder="Enter Password" name="psw" required>
                      <br>    
                      <button id="login" type="submit">LOGIN</button><br><br>
                      <label for="fpsw" style="text-align: center;"><b>Forget Password ? </b></label>
                      <p style="font-size: 18px;margin-top: -1px;"> Contact  system administrator <br> 077 8043 8144</p>
                    </div>
                </form>
                  
            </div>
          </div>

    </div>
    
</body>
</html>