<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../CSS/CommonForAll.css">
    <link rel="stylesheet" type="text/css" href="../CSS/BookingReport.css">

    <title>BOOKING ADMIN DASHBOARD</title>
</head>

<body>

    <div class="mainbluesurface" id="mainbluesurface">
       
        <div class="topnav">
            <img src="../IMAGES/sublogo2.png" alt="logo login" id="sublogo">
            <div class="topnav-right">
                <a class="active" href="BookingAdminDashboard.html">Home</a>
                <a class="active" href="BookingAdminLogin.html">LogOut</a>
            </div>
        </div>
        <hr id="headerhr">

        <div class="report">
            <div class="name" >  From   <br> <p class="numberof"> <input type="date"> </p> </div>
            <div class="name" >  To  <br> <p class="numberof"> <input type="date"> </p> </div>
            <!-- <div class="name" onclick="myFunction3()">  Year    <br> <p class="numberof"> <input type="date"> </p> </div><br> -->
            <div class="name" >  Status    <br> <p class="numberof"> <select>
                <option>All</option>
                <option>Pending</option>
                <option>Completed</option>
            </select> </p> </div><br>
        </div>
    </div>

    <script>
        function myFunction1() {
          location.replace("DriverDetails.html")
        }

        function myFunction2() {
          location.replace("DriverAssigned.html")
        }

        function myFunction3() {
          location.replace("DriverVacant.html")
        }

        function myFunction4() {
          location.replace("Drivers'Report.html")
        }

        function myFunction5() {
          location.replace("DriverBookingRequests.html")
        }
    </script>
    

</body>
</html>