<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../CSS/CommonForAll.css">
    <link rel="stylesheet" type="text/css" href="../CSS/BookingDetailsView.css">


    <title>BOOKING DETAILS VIEW</title>
</head>

<body>

    <div class="mainbluesurface" id="mainbluesurface">
      
        <div class="topnav">
            <img src="../IMAGES/sublogo2.png" alt="logo login" id="sublogo">
            <div class="topnav-right">
                <!-- Dropdown in the navigation bar-->
                <div class="dropdown">
                    <button class="dropbtn"> Driver 
                        <img src="../IMAGES/Dropdown.png" alt="dropdown" id="dropdownicon"> 
                    </button>
                    <div class="dropdown-content">
                    <a href="BookingDetails.html"> Booking </a>
                      <a href="AddNewBooking.html"> Add New Booking </a>
                      <a href="BookingReports.html"> Booking Report </a>
                      
                    </div>
                </div>

                <a class="active" href="BookingAdminDashboard.html">Home</a>
                <a class="active" href="BookingAdminLogin.html">LogOut</a>
            </div>
        </div>
    
    <hr id="headerhr"> 

    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Open Modal</button>

    <!-- The Modal -->
        <div id="Bookingview" class="view">
           
            <!-- Modal content -->
            <div class="viewcontent">
                <span class="close">&times;</span>
                <h2 id="topic"> Booking Details</h2>
                <table class="viewbookingtable" > 
                        <tr>
                            <td class="viewforminput"><label for="id">Booking ID</label> </td> 
                            <!-- <td> <input class="forminput" type="text" id="id" name="id" required > </td> -->
                        </tr> 
                        <tr>
                            <td class="viewforminput"><label for="did">Driver ID </label> </td>
                            <!-- <td> <input class="forminput" type="text" id="did" name="did" required > </td> -->
                        </tr>
                        <tr>
                            <td class="viewforminput"> <label for="fname">First Name </label> </td>
                            <!-- <td> <input class="forminput" type="text" id="fname" name="fname" value="" required> </td> -->
                        </tr>
                        <tr>
                            <td class="viewforminput"> <label for="lname">Last Name </label> </td>
                             <!-- <td> <input class="forminput" type="text" id="lname" name="lname" value="" required> </td> -->
                        </tr>
                        <tr>
                            <td class="viewforminput">  <label for="Vplate"> Vehicle No. Plate</label> </td>
                          
                            <!-- <td> <input class="forminput" type="text" id="Vplate" name="Vplate" value="" required> </td> -->
                        </tr>
                        <tr>
                            <td class="viewforminput"> <label for="phoneno">Contact Number</label></td>
                          
                            <!-- <td> <input class="forminput" type="text" id="phoneno" name="phoneno" placeholder="07X XXX XXXX" pattern="[0-9]{3} [0-9]{3} [0-9]{4}"value="" required> </td> -->
                        </tr>
                        <tr>
                            <td class="viewforminput">  <label for="email"> E-mail</label> </td>
                           
                            <!-- <td>  <input class="forminput" type="email" id="email" name="email" placeholder="example@gmail.com" required> </td> -->
                        </tr>
						 <tr>
                            <td class="viewforminput">  <label for="date">  Pickup Date</label> </td>
                           
                            <!-- <td>  <input class="forminput" type="date" id="date" name="date"  required> </td> -->
                        </tr>
						 <tr>
                            <td class="viewforminput">  <label for="time"> Pickup Time</label> </td>
                           
                            <!-- <td>  <input class="forminput" type="time" id="time" name="time"  required> </td> -->
                        </tr>
						 <tr>
                            <td class="viewforminput">  <label for="place"> Pickup Place</label> </td>
                           
                            <!-- <td>  <input class="forminput" type="place" id="place" name="place"  required> </td> -->
                        </tr>
						 <tr>
                            <td class="viewforminput">  <label for="Dtime">  Drop-off Time </label> </td>
                           
                            <!-- <td>  <input class="forminput" type="Dtime" id="Dtime" name="Dtime"  required> </td> -->
                        </tr>
						 <tr>
                            <td class="viewforminput">  <label for="Dplace"> Drop-off Place </label> </td>
                           
                            <!-- <td>  <input class="forminput" type="Dplace" id="Dplace" name="Dplace"  required> </td> -->
                        </tr>
                </table>

                <!-- Update button-->
                <button id="bookingupdate"  onclick="bookingupdatefunction()"> UPDATE </button>
                 <!-- Delete button-->
                <button id="bookingdelete" onclick="bookingdeletefunction()"> DELETE </button>
            </div>
        </div>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById("bookingview");
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
        modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }
        
        // // When the user clicks anywhere outside of the modal, close it
        // window.onclick = function(event) {
        //     if (event.target == modal) {
        //         modal.style.display = "none";
        //     }
        // }

        //Update button function
        function bookingupdatefunction() {
          location.replace("BookingDetailsUpdate.html")
        }

        //Delete button function
        function bookingdeletefunction() {
          location.replace("BookingDelete.html")
        }
  
    </script>
    
    

</body>
</html>