<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../CSS/CommonForAll.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/BookingDetails.css" />

    <title>BOOKING DETAILS</title>
  </head>

  <body>
    <div class="mainbluesurface" id="mainbluesurface">
      <div class="topnav">
        <img src="../IMAGES/sublogo2.png" alt="logo login" id="sublogo" />
        <div class="topnav-right">
          <a class="active" href="BookingAdminDashboard.html">Home</a>
          <a class="active" href="BookingAdminLogin.html">LogOut</a>
        </div>
      </div>
      <hr id="headerhr" />

      <div class="">
        <button class="addnew" onclick="myFunctionaddnew()">Add New Booking</button>
        <input class="forminput" type="text" id="place" name="place" placeholder="Search...." required />
      </div>

      <div class="tablecontent">
        <div class="bookingdetailcontent" style="overflow-x: auto">
          <table>
            <tr>
              <th>Booking ID</th>
              <th>Driver ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Vehicle No. Plate</th>
              <th>Contact Number</th>
              <th>Email</th>
              <th>Pickup Date</th>
              <th>Pickup Time</th>
              <th>Pickup Place</th>
              <th>Drop-off Time</th>
              <th>Drom-off Place</th>
            </tr>

            <tr>
              <td>B001</td>
              <td>D002</td>
              <td>Kamal</td>
              <td>Perera</td>
              <td>AB1230</td>
              <td>0704145797</td>
              <td>Kamal@gmail.com</td>
              <td>3/23/2022</td>
              <td>8.00AM</td>
              <td>Colombo</td>
              <td>9.00AM</td>
              <td>Nugegoda</td>

              <td><button id="confirm" onclick="myFunctionedit()">Edit</button></td>
              <td><button id="confirm" onclick="myFunctiondelete()">Delete</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- Onclick function for "Add New Booking"-->
    <script>
      function myFunctionaddnew() {
        location.replace("AddNewBooking.html");
      }
      function myFunctionedit() {
        location.replace("BookingDetailsUpdate.html");
      }
      function myFunctiondelete() {
        location.replace("BookingDelete.html");
      }
    </script>
  </body>
</html>
