<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../CSS/Login.css">
    <link rel="stylesheet" type="text/css" href="../CSS/CommonForAll.css">
    <link rel="stylesheet" type="text/css" href="../CSS/Home.css">

    <title>DRIVERS' ADMIN HOME</title>
</head>

<body>
    <div class="mainbluesurface" id="mainbluesurface">
        <div class="row">
            <div class="column">
                <img src="../IMAGES/mainlogo.png" alt="logo login" id="mainlogo">
            </div>

            <div class="column">
                <div class="tab">
                    <button class="tablinks">  Driver Management </button><br><br><br>
                    <button class="tablinks"> Vehicle Management </button><br><br><br> 
                    <button class="tablinks" onclick="myFunction()">  Driver Management </button><br><br><br>
                </div>
            </div>
            
        </div>
    </div>

    <script>
        function myFunction() {
          location.replace("DriverAdminLogin.html")
        }
    </script>

    
</body>
</html>