<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../CSS/CommonForAll.css">
    <link rel="stylesheet" type="text/css" href="../CSS/Report.css">

    <title>DRIVER DETAIL REPORT</title>
</head>

<body>

  <div class="mainbluesurface" id="mainbluesurface">
    <!-- Navigation bar -->
    <div class="topnav">
        <img src="../IMAGES/sublogo2.png" alt="logo login" id="sublogo">
        <div class="topnav-right">
            <!-- Dropdown in the navigation bar-->
            <div class="dropdown">
                <button class="dropbtn"> Report
                    <img src="../IMAGES/Dropdown.png" alt="dropdown" id="dropdownicon"> 
                </button>
                <div class="dropdown-content">
                  <a href="DriverDetails.html"> Driver </a>
                  <a href="DriverAssigned.html"> Assigned </a>
                  <a href="DriverVacant.html"> Vacant </a>
                  <a href="DriverBookingRequests.html"> Requests </a>
                  <a href="AddNewDriver.html"> Add New Driver  </a>
                </div>
            </div>

            <a class="active" href="DriverAdminDashboard.html">Home</a>
            <a class="active" href="DriverAdminLogin.html">LogOut</a>
        </div>
    </div>
    <hr id="headerhr">

    <div class="contentblock"> 
      <p id="qtopic" > Driver Detail Report </p>

      <div class="report">
          <div class="month">   
            <label for="from"> From </label><br>
            <select  class="monthname" name="start" >
              <option  class="monthname" value="1"> January  </option>
              <option  class="monthname" value="2"> February </option>
              <option  class="monthname" value="3"> March    </option>
              <option  class="monthname" value="4"> April    </option>
              <option  class="monthname" value="5"> May      </option>
              <option  class="monthname" value="6"> June     </option>
              <option  class="monthname" value="7"> July     </option>
              <option  class="monthname" value="8"> August   </option>
              <option  class="monthname" value="9"> September</option>
              <option  class="monthname" value="10"> October </option>
              <option  class="monthname" value="11"> November</option>
              <option  class="monthname" value="12"> December</option>
            </select> </div>
        
          <div class="month">   
            <label for="to"> To </label><br>
            <select  class="monthname" name="until" >
              <option  class="monthname" value="1"> January   </option>
              <option  class="monthname" value="2"> February  </option>
              <option  class="monthname" value="3"> March     </option>
              <option  class="monthname" value="4"> April     </option>
              <option  class="monthname" value="5"> May       </option>
              <option  class="monthname" value="6"> June      </option>
              <option  class="monthname" value="7"> July      </option>
              <option  class="monthname" value="8"> August    </option>
              <option  class="monthname" value="9"> September </option>
              <option  class="monthname" value="10"> October  </option>
              <option  class="monthname" value="11"> November </option>
              <option  class="monthname" value="12"> December </option>
            </select> </div>  

          <div class="month">   
            <label for="year"> Year </label><br>
            <select  class="monthname" name="year" >
              <option  class="monthname" value="1"> 2019 </option>
              <option  class="monthname" value="2"> 2020 </option>
              <option  class="monthname" value="3"> 2021 </option>
              <option  class="monthname" value="4"> 2022 </option>
            </select> </div>    
      </div>

        <button class="reportgenerate" onclick="reportgeneratefunction()" type="submit"> GENERATE REPORT </button>

    </div>

  <script>
    function reportgeneratefunction() {
      window.open("Reportdetails.html");
    }
  </script>

</body>
</html>