<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../CSS/CommonForAll.css">
    <link rel="stylesheet" type="text/css" href="../CSS/DriverUpdate.css">

    <title> Update Driver Details </title>
</head>

<body>

    <div class="mainbluesurface" id="mainbluesurface">
        <!-- Navigation bar -->
        <div class="topnav">
            <img src="../IMAGES/sublogo2.png" alt="logo login" id="sublogo">
            <div class="topnav-right">
                <!-- Dropdown in the navigation bar-->
                <div class="dropdown">
                    <button class="dropbtn">Driver 
                        <img src="../IMAGES/Dropdown.png" alt="dropdown" id="dropdownicon"> 
                    </button>
                    <div class="dropdown-content">
                      <a href="DriverAssigned.html"> Assigned </a>
                      <a href="DriverVacant.html"> Vacant </a>
                      <a href="Drivers'Report.html"> Report </a>
                      <a href="DriverBookingRequests.html"> Requests </a>
                      <a href="AddNewDriver.html"> Add New Driver  </a>
                    </div>
                </div>

                <a class="active" href="DriverAdminDashboard.html">Home</a>
                <a class="active" href="DriverAdminLogin.html">LogOut</a>
            </div>
        </div>
        <hr id="headerhr">

        <div class="contentblock"> 
            <h2 id="topic" > Update Driver Details </h2>

            <!-- Update driver details -->
            <table class="updateformtable" >  
                <form class="updatedriverform" action="/action_page.php">
                    <tr>
                        <td><label for="fname">Driver ID </label> </td> <!-- cannot update-->
                        <td> : </td>
                        <td> <input class="forminput" type="text" id="rdate" name="rdate" required ></td>
                    </tr>
                    <tr>
                        <td><label for="fname">Registered Date </label> </td> <!-- cannot update-->
                        <td> : </td>
                        <td> <input class="forminput" type="date" id="rdate" name="rdate" required > </td>
                    </tr>
                    <tr>
                        <td> <label for="fname">First Name </label> </td> <!-- cannot update-->
                        <td> : </td>
                        <td> <input class="forminput" type="text" id="fname" name="fname" value="" required> </td>
                    </tr>
                    <tr>
                        <td> <label for="lname">Last Name </label> </td> <!-- cannot update-->
                        <td> : </td>
                        <td> <input class="forminput" type="text" id="lname" name="lname" value="" required> </td>
                    </tr>
                    <tr>
                        <td>  <label for="NIC"> NIC </label> </td> <!-- can update-->
                        <td> : </td>
                        <td> <input class="forminput" type="text" id="nic" name="nic" maxlength="12" value="" required> </td>
                    </tr>
                    <tr>
                        <td> <label for="Licence No.">Licence No. </label></td> <!-- can update-->
                        <td> : </td>
                        <td> <input class="forminput" type="text" id="lno." name="Licence No." value="" required> </td>
                    </tr>
                    <tr>
                        <td>  <label for="phoneno."> Contact No. </label> </td><!-- can update-->
                        <td> : </td>
                        <td> <input class="forminput"  type="tel" id="phone" name="phone" placeholder="076 456 7890" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" required > </td>
                    </tr>
                    <tr>
                        <td>  <label for="email"> E-mail </label> </td> <!-- can update-->
                        <td> : </td>
                        <td>  <input class="forminput" type="email" id="email" name="email" required> </td>
                    </tr>
                </form>
            </table>

            <br>
            <!-- The button to confirm the update -->
            <!-- Once the update is clicked a alert msg will be poped up -->
            <button class="updateconfirmbtn" onclick="updateconfirmfunction()" type="submit"> CONFIRM UPDATE </button>

            <!-- The button to cancle the update -->
            <!-- Once the cancle btn is clicked it will navigation to the previous page -->
            <button class="submitcanclebtn" onclick="canclefunction()"> CANCLE</button>
            <br><br>
        </div>  
    </div>

    <script>

        function updateconfirmfunction() {
          location.replace("#")
        }
    
        function canclefunction() {
          location.replace("DriverView.html")
        }

    </script>
</body>
</html>