<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../CSS/CommonForAll.css">
    <link rel="stylesheet" type="text/css" href="../CSS/Vacant.css">

    <title> Vacant Driver Details </title>
</head>

<body>

    <div class="mainbluesurface" id="mainbluesurface">
        <!-- Navigation bar -->
        <div class="topnav">
            <img src="../IMAGES/sublogo2.png" alt="logo login" id="sublogo">
            <div class="topnav-right">
                <!-- Dropdown in the navigation bar-->
                <div class="dropdown">
                    <button class="dropbtn">Vacant
                        <img src="../IMAGES/Dropdown.png" alt="dropdown" id="dropdownicon"> 
                    </button>
                    <div class="dropdown-content">
                        <a href="DriverDetails.html"> Driver </a>
                        <a href="DriverAssigned.html"> Assigned </a>
                        <a href="Drivers'Report.html"> Report </a>
                        <a href="DriverBookingRequests.html"> Requests </a>
                        <a href="AddNewDriver.html"> Add New Driver  </a>
                    </div>
                </div>

                <a class="active" href="DriverAdminDashboard.html">Home</a>
                <a class="active" href="DriverAdminLogin.html">LogOut</a>
            </div>
        </div>
        <hr id="headerhr">
    
    <div class="tablecontent">
        <h2 id="vtopic" > Vacant Driver Details </h2>

      <div class="drivervacantdetailcontent" style="overflow-x:auto;">
          <table>
            <tr>
              <th>ID</th>
              <th>Registered Date</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>NIC</th>
              <th>Licence No.</th>
              <th>Phone</th> 
              <th>Email</th>
            </tr>

            <tr>
              <td>D001</td>
              <td>02.05.2020</td>
              <td>Liam</td>
              <td>James</td>
              <td>198554810155</td>
              <td>B4821475</td>
              <td>0762493814</td>
              <td>liam@gmail.com</td>
              
              
            </tr>
          </table>
        </div>
        
          
      </div>
  </div>

</body>
</html>