* {
    box-sizing: border-box;
  }

.contentblock{
    width:1200px ;
    height: 450px;
    background-color: #E5E5E5;
    margin-top: 20px;
    margin-left: 120px;
    border-radius: 40px;
    overflow: scroll;
    color: #150050;
    font-size: 22px;
    font-weight: 400;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.contentblock::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.contentblock {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

 
#qtopic{
    text-align: center;
    padding-left: 40px;
    font-size: 35px;
    font-weight: 700;
    color: #31118B;
    float:center;
}

.maintopics::after {
    content: "";
    clear: both;
    display: table;
}

.month{
    float: left;
    width: 350px;
    height: 50px;
    background-color: #CCCCCC;
    border: 2px solid #FFFFFF;
    display: table;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 38px;
    color: #000000;  
    border-radius: 30px;
    margin-left: 40px;
    margin-top: 15px; 
    padding-top: 40px;
    padding-bottom: 40px;
} 

.monthname{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    margin-top: 1px;
    padding-top: 10px; 
    border: none;
    border-radius: 40px;
    text-align: left;
    margin-left: 15px;
   
}

.reportgenerate{
    margin-top: 25px;
    margin-left: 450px;
    width: 300px;
    height: 48px;
    background-color: #0000FF;
    border-radius: 20px;
    font-size:20px ;
    color: #FFFFFF;
    font-weight: 500;
    border: none;
}